In [54]:
from pathlib import Path

In [55]:
import pandas as pd
from pandas import read_excel
my_sheet = 'Sheet1' # change it to your sheet name, you can find your sheet name at the bottom left of your excel file
file_name = 'MasterStudentList.xlsx' # change it to the name of your excel file
df = read_excel(file_name, sheet_name = my_sheet)
print(df.head()) # shows headers with top 5 rows

   SrNo                     Full Name       Roll No
0     1             RITWIKA PANIGRAHI  190101120001
1     2  CHENNAKESAVULA SUMANTH KUMAR  190101120002
2     3                  GONDU GANESH  190101120003
3     4                    ISHA RAUTO  190101120004
4     5                  YEDURU ASHOK  190101120005

In [56]:
from pandas import read_excel
my_sheet = 'Attendance' # change it to your sheet name, you can find your sheet name at the bottom left of your excel file
file_name = '2021-08-25.xlsx' # change it to the name of your excel file
df_d = read_excel(file_name, sheet_name = my_sheet)
print(df_d.head(10)) # shows headers with top 5 rows
print(df_d.columns)

  Attendance bot: dev(Pavan:p2pdops@gmail.com) on 2021-08-25 : 11:48: https://meet.google.com/msf-vyyu-ece  \
0                                                NaN
1                               Members present : 92
2                                                NaN
3                                                NaN
4                                           Attendee
5                                    DR. DILLIP ROUT
6                                     ADITYA CHAUBEY
7                                       AJAY PRADHAN
8                                         AMIT KUMAR
9                                 ASHUTOSH MOHAPATRA

  Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN
4      Score   10:46 AM   10:48 AM   11:47 AM
5        3/3          ✅          ✅          ✅
6        3/3          ✅          ✅          ✅
7        3/3          ✅          ✅          ✅
8        3/3          ✅          ✅          ✅
9        3/3          ✅          ✅          ✅
Index(['Attendance bot: dev(Pavan:p2pdops@gmail.com) on 2021-08-25 : 11:48: https://meet.google.com/msf-vyyu-ece',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],
      dtype='object')

In [57]:
df_names = pd.DataFrame()
df_names['Names'] = df_d.iloc[6:,0]

In [58]:
df_names['Names'] = df_names['Names'].str.upper()
df_names['Names']

6         ADITYA CHAUBEY
7           AJAY PRADHAN
8             AMIT KUMAR
9     ASHUTOSH MOHAPATRA
10           BABLU KUMAR
             ...
93        TARINI SIRISHA
94           VOONA NIDHI
95       VYSYARAJU NIKHI
96       VYSYARAJU TARUN
97                   NaN
Name: Names, Length: 92, dtype: object

In [59]:
df_d.iloc[:, 0]

0                      NaN
1     Members present : 92
2                      NaN
3                      NaN
4                 Attendee
              ...
93          TARINI SIRISHA
94             VOONA NIDHI
95         VYSYARAJU NIKHI
96         VYSYARAJU TARUN
97                     NaN
Name: Attendance bot: dev(Pavan:p2pdops@gmail.com) on 2021-08-25 : 11:48: https://meet.google.com/msf-vyyu-ece, Length: 98, dtype: object

In [60]:
df_result = pd.DataFrame(columns=['Name','RedgNo']) #create an empty dataframe
df_result.head()
df_failures = pd.DataFrame(columns=['Name']) #create an empty dataframe
df_failures.head()

Empty DataFrame
Columns: [Name]
Index: []

In [61]:
for index, row in df_names.iterrows():
    #print(row[0])
    dfx = df[df['Full Name'] == row[0]]
    if(dfx.shape[0] > 0):
        #print(dfx.values[0][1], dfx.values[0][2])
        dfRow = {'Name': row[0], 'RedgNo': dfx.values[0][2]}
        #display(dfRow)
        df_result = df_result.append(dfRow, ignore_index = True)
        #display(df_result)
    else:
        dfRow = {'Name': row[0]}
        df_failures = df_failures.append(dfRow, ignore_index = True)

In [62]:
df_result.head()

                 Name        RedgNo
0      ADITYA CHAUBEY  190301250006
1          AMIT KUMAR  190101120110
2  ASHUTOSH MOHAPATRA  190301120013
3         BABLU KUMAR  190101120094
4     BHARATH PRADHAN  190101120007

In [63]:
df_result.shape

(73, 2)

In [64]:
df_result = df_result.sort_values(by=['RedgNo'])

In [65]:
df_result.to_csv(file_name.split('.')[0]+'.csv')

In [66]:
print(file_name.split('.')[0])

2021-08-25

In [67]:
df_failures = df_failures.sort_values(by=['Name'])

In [68]:
df_failures.to_csv(file_name.split('.')[0]+'-fail.csv')

In [74]:
from re import search
fullstring = "VOONA SRI NIDHI"
substring = "VOONA NIDHI"

sub = substring.split(' ')

for i in range(len(sub)):
    if sub[i] in fullstring:
        print("Found!")
    else:
        print("Not found!")

Found!
Found!

In [1]:
import fuzzywuzzy as fz
from fuzzywuzzy import fuzz
fullstring = "VOONASRI NIDHI"
substring = "VOONA NIDHI"
print('Partial Ratio', fuzz.partial_ratio(fullstring.lower(),substring.lower()))
print('Token Sort Ratio', fuzz.token_sort_ratio(fullstring.lower(),substring.lower()))
print('Token Set Ratio', fuzz.token_set_ratio(fullstring.lower(),substring.lower()))

Partial Ratio 73
Token Sort Ratio 88
Token Set Ratio 88

/usr/local/lib/python3.7/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
fullstring = "MEGHA KUMARI JHA"
substring = "MEGHAKUMARI JHA"
print('Partial Ratio', fuzz.partial_ratio(fullstring.lower(),substring.lower()))
print('Token Sort Ratio', fuzz.token_sort_ratio(fullstring.lower(),substring.lower()))
print('Token Set Ratio', fuzz.token_set_ratio(fullstring.lower(),substring.lower()))

Partial Ratio 93
Token Sort Ratio 65
Token Set Ratio 65

In [9]:
fullstring = "ANUKULA BISWAL"
substring = "ANUKULA CHANDRA BISWAL"
print('Partial Ratio', fuzz.partial_ratio(fullstring.lower(),substring.lower()))
print('Token Sort Ratio', fuzz.token_sort_ratio(fullstring.lower(),substring.lower()))
print('Token Set Ratio', fuzz.token_set_ratio(fullstring.lower(),substring.lower()))

Partial Ratio 71
Token Sort Ratio 78
Token Set Ratio 100

In [3]:
fullstring = "ANUKULA BISWAL"
substring = "ANUKULA KUMAR BISWAL"
print('Partial Ratio', fuzz.partial_ratio(fullstring.lower(),substring.lower()))
print('Token Sort Ratio', fuzz.token_sort_ratio(fullstring.lower(),substring.lower()))
print('Token Set Ratio', fuzz.token_set_ratio(fullstring.lower(),substring.lower()))

Partial Ratio 79
Token Sort Ratio 82
Token Set Ratio 100

In [11]:
fullstring = "ANUKULA BISWAL"
substring = "KUMAR BISWAL"
print('Partial Ratio', fuzz.partial_ratio(fullstring.lower(),substring.lower()))
print('Token Sort Ratio', fuzz.token_sort_ratio(fullstring.lower(),substring.lower()))
print('Token Set Ratio', fuzz.token_set_ratio(fullstring.lower(),substring.lower()))

Partial Ratio 87
Token Sort Ratio 46
Token Set Ratio 77

In [4]:
fullstring = "MEGHA KUMARI JHA"
substring = "MEGHA JHA"
print('Partial Ratio', fuzz.partial_ratio(fullstring.lower(),substring.lower()))
print('Token Sort Ratio', fuzz.token_sort_ratio(fullstring.lower(),substring.lower()))
print('Token Set Ratio', fuzz.token_set_ratio(fullstring.lower(),substring.lower()))

Partial Ratio 67
Token Sort Ratio 72
Token Set Ratio 100

In [5]:
fullstring = "ADAPA GURU VENKAT"
substring = "A. GURU VENKAT"
print('Partial Ratio', fuzz.partial_ratio(fullstring.lower(),substring.lower()))
print('Token Sort Ratio', fuzz.token_sort_ratio(fullstring.lower(),substring.lower()))
print('Token Set Ratio', fuzz.token_set_ratio(fullstring.lower(),substring.lower()))

Partial Ratio 93
Token Sort Ratio 87
Token Set Ratio 92

In [6]:
fullstring = "POKALA VENKATA RAJYA PAVAN SHARMA"
substring = "A. GURU VENKAT"
print('Partial Ratio', fuzz.partial_ratio(fullstring.lower(),substring.lower()))
print('Token Sort Ratio', fuzz.token_sort_ratio(fullstring.lower(),substring.lower()))
print('Token Set Ratio', fuzz.token_set_ratio(fullstring.lower(),substring.lower()))

Partial Ratio 57
Token Sort Ratio 43
Token Set Ratio 43

In [7]:
fullstring = "ANUMANCHIPALLI VENKATA ADITYA"
substring = "A. GURU VENKAT"
print('Partial Ratio', fuzz.partial_ratio(fullstring.lower(),substring.lower()))
print('Token Sort Ratio', fuzz.token_sort_ratio(fullstring.lower(),substring.lower()))
print('Token Set Ratio', fuzz.token_set_ratio(fullstring.lower(),substring.lower()))

Partial Ratio 57
Token Sort Ratio 48
Token Set Ratio 48

In [8]:
fullstring = "AISHI ASHIRVAD MISHRA"
substring = "AISHI MISHRA"
print('Partial Ratio', fuzz.partial_ratio(fullstring.lower(),substring.lower()))
print('Token Sort Ratio', fuzz.token_sort_ratio(fullstring.lower(),substring.lower()))
print('Token Set Ratio', fuzz.token_set_ratio(fullstring.lower(),substring.lower()))

Partial Ratio 75
Token Sort Ratio 73
Token Set Ratio 100

In [9]:
fullstring = "AISHI ASHIRVAD MISHRA"
substring = "MISHRA"
print('Partial Ratio', fuzz.partial_ratio(fullstring.lower(),substring.lower()))
print('Token Sort Ratio', fuzz.token_sort_ratio(fullstring.lower(),substring.lower()))
print('Token Set Ratio', fuzz.token_set_ratio(fullstring.lower(),substring.lower()))

Partial Ratio 100
Token Sort Ratio 44
Token Set Ratio 100

In [10]:
fullstring = "AISHI ASHIRVAD MISHRA"
substring = "AJAY MISHRA"
print('Partial Ratio', fuzz.partial_ratio(fullstring.lower(),substring.lower()))
print('Token Sort Ratio', fuzz.token_sort_ratio(fullstring.lower(),substring.lower()))
print('Token Set Ratio', fuzz.token_set_ratio(fullstring.lower(),substring.lower()))

Partial Ratio 73
Token Sort Ratio 56
Token Set Ratio 71

In [12]:
fullstring = "AISHI ASHIRVAD MISHRA"
substring = "AJAY KUMAR PRADHAN"
print('Partial Ratio', fuzz.partial_ratio(fullstring.lower(),substring.lower()))
print('Token Sort Ratio', fuzz.token_sort_ratio(fullstring.lower(),substring.lower()))
print('Token Set Ratio', fuzz.token_set_ratio(fullstring.lower(),substring.lower()))

Partial Ratio 34
Token Sort Ratio 41
Token Set Ratio 41

In [13]:
fullstring = "SONALIKA SAPANPRIYA DEHURY"
substring = "SONALIKA DEHURY"
print('Partial Ratio', fuzz.partial_ratio(fullstring.lower(),substring.lower()))
print('Token Sort Ratio', fuzz.token_sort_ratio(fullstring.lower(),substring.lower()))
print('Token Set Ratio', fuzz.token_set_ratio(fullstring.lower(),substring.lower()))

Partial Ratio 67
Token Sort Ratio 73
Token Set Ratio 100